.addtask {
    width: 100%;

    form {
        width: 70%;
        margin: 3rem;
        display: flex;

    }

    input {
        padding: 5px;
        width: 30rem;
        border: none;
        outline: none;
        background-color: whitesmoke;
        border-radius: 5px;

    }
    .form{

        .button{
            background-color: white;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                background-color: rgba(58, 228, 86, 0.8);
            }
        }

    }
    
    
}